.wrapper
  = render 'users/header'
  .message-contents
    - @groups.each do |group|
      .message-list
        .message-list__image
          - group.users.each do |user|
            - if current_user.id != user.id
              = image_tag(user.image, class: "message-list__image__icon")
        .message-list__content
          .message-list__content__name
            - group.users.each do |user|
              - if current_user.id != user.id
                = user.name
          .message-list__content__text
            - if group.messages.present?
              = group.messages.find_by(id: group.messages.last.id).content
            - else 
              まだメッセージはありません
        - if group.messages.present?
          .message-list__time
            = group.messages.find_by(id: group.messages.last.id).created_at.strftime("%m/%d/ %H:%M")
          